[submodule "wiki"]
	path = wiki
	url = https://github.com/BigBadE/EnchantmentTokens.wiki.git
	update = rebase
[submodule "localization"]
	path = localization
	url = https://github.com/BigBadE/EnchantmentTokensLocalization
	update = rebase
[submodule "EnchantmentTokensCurrency/EnchantmentTokensMongo"]
	path = EnchantmentTokensCurrency/EnchantmentTokensMongo
	url = https://github.com/BigBadE/EnchantmentTokensMongo
	update = rebase
[submodule "EnchantmentTokensCurrency/EnchantmentTokensMySQL"]
	path = EnchantmentTokensCurrency/EnchantmentTokensMySQL
	url = https://github.com/BigBadE/EnchantmentTokensMySQL
	update = rebase